////////////////////////////////////////////
// Variables
////////////////////////////////////////////
$white: #ffffff;
$black: #000000;
$primary1: #bea668;
$drk: #64646c;
$grey: #949494;
$lgrey: #f6f9fb;
$red: #c0392b; 